<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Us</title>
    </head>

    <body>
        <h1>{{pageHeading}}</h1>
        <p>We are working on a simple node.js server aimed at improving our skills in git.</p>
        {{> footer}}
    </body>
</html>