<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help</title>
    </head>

    <body>
        <h1>{{pageHeading}}</h1>
        <p>Help is a resource, hard to find these days...</br>
            Let's see what can be done here!
        </p>
        {{> footer}}
    </body>
</html>