<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome!</title>
    </head>

    <body>
        <h1>{{pageHeading}}</h1>
        <p>Welcome to our test Server!</p>
        <a href="/about">About Us</a>
        <a href="/help">help!</a>
        {{> footer}}
    </body>
</html>