<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintainance</title>
    </head>

    <body>
        <h1>{{pageHeading}}</h1>
        <p>This website is under maintainance.</p>
        <p>Try again later?</p>

        {{> footer}}
    </body>
</html>